@import "tailwindcss";

@theme {
  --font-base: "DM Sans", sans-serif;
  --font-primary: "Poppins", sans-serif;
  --font-headline: "Cormorant Garamond", serif;
}

*{
  scroll-behavior: smooth;
}
/* MARQUEE */
@keyframes marquee {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-50%, 0, 0);
  }
}

.marquee {
  display: flex;
  align-items: center;
  width: max-content;
  flex-wrap: nowrap;
  will-change: transform;
  animation: marquee 25s linear infinite;
}

.marquee-container:hover .marquee {
  animation-play-state: paused;
}